
/* Related property declarations should be grouped together following the order:
   position, box-model, typography, visual, misc.
*/

.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  
  /* Box-model */
  display: block;
  width: 100px;
  height: 100px;
 
 /* Typography */
 font: normal 13px "Helvetica Neue", sans-serif; 
 text-align:  center;
  
  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  
  /* Misc */
  poacity: 1;
}
